.header {
    .toolbar {
        padding-top: .8rem;
        padding-bottom: .5rem;

        .title {
            display: block;
            color: white;
            font-size: 26px;
            padding-bottom: 0;
        }

        .locationTitle {
            font-size: 16px;
            display: inline;
            border-left: 2px solid rgba(255, 255, 255, 0.4);
            margin-left: .3rem;
            padding-left: .6rem;
            bottom: 2px;
            position: relative;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.scroller {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -3px;
    // margin-top: 1.5rem;
    background: white;
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    padding: .5rem 1rem;

    &::-webkit-scrollbar {
        display: none;
    }

    .chip, .card {
        display: inline-block;

        &.active {
            background: green;
        }
    }

    @media screen and (min-width: 768px) {
        .scrollIndicator {
            display: none;
        }
    }
    
    .scrollIndicator {
        top: 4px;
        position: relative;
        opacity: 0.6;
        margin-right: 6px;
        // color: rgba(45,211,111,1);
    }
}

.mapSection {
    height: 100%;
}

.bottomScroll {
    overflow-x: scroll;
    white-space: nowrap;
    position: absolute;
    padding-bottom: 10px;
    width: 100%;
    z-index: 3;
    background: linear-gradient(0deg, rgba(140,140,140,0.7833508403361344) 28%, rgba(0,0,0,0) 100%);
    transition: all .3s;

    &::-webkit-scrollbar {
        display: none;
    }

    .cardContainer {
        display: inline-block;
    }

    .card {
        box-shadow: none;
        border-radius: 13px;
        min-width: 130px;
        cursor: pointer;
        // background: rgb(44, 205, 92);
        transition: all .3s;

        // &:hover:not(.ion-color-primary) {
        //     background: darken(white, 10);
        // }
        
        &.ion-color-primary {
            color: white;
        }

        .header {
            font-size: 18px;
            font-weight: 700;
        }

        .content {
            margin-top: -5px;
        }
    }
}

.activeArea {
    background: linear-gradient(135deg, rgba(45,211,111,1) 0%, rgba(40,186,98,1) 100%) !important;
    color: white !important;
}

.disabledArea {
    opacity: 0.7;
    background: white !important;
    cursor: default;
}